/*================================================================================
Item Name: Home-Page
Author: JirenSama, Edgardo
================================================================================

NOTE:
------
PLACE HERE YOUR OWN CSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */

/*General*/
.none {
    display: none !important;
}

.margin-1 {
    margin: 1rem !important;
}

a.submit {
    cursor: pointer;
}

footer.page-footer {
    padding-top: 0px;
    color: #fff;
    background-color: #26c6da;
}

/* The landing image */
div.landing-image {
    /* The image used */
    background-image: url("../../assets/images/landing/classroom1.jpg");

    /* Set a specific height */
    height: 100%;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* Place text in the middle of the image */
div.landing-section {
    position: relative;
    margin-left: 15%;
    /*top: 50%;*/
    /*left: 50%;*/
}

div.landing-promo {
    /*for mobile and desktop adjust*/
    min-width: 225px;
    max-width: 300px;
    min-height: 500px;
    max-height: 500px;

    margin: 8%;

    padding: 1%;

    border-radius: 15px 50px;
    opacity: 0.90;
    color: grey;
    background-color: white;
}
/*End landing page*/
.semi-dark-blue-tab {
    color: #ffffff;
}

div a.title-nav-bar-dash {
    font-size : 3rem;
    margin: 1%;
}

/*Start report error texts*/
/*TODO: Change font style for report error title*/
div.reportErrorTitle {
    font-size : 2rem;
    text-align: center;
    margin-top: 5%;
}
/*End report error texts*/

/*Start Dashboard Cards*/
div.db-card-container {
    padding-left: 25%;
    /*margin-top: 10%;*/
}

div.db-cards-margin {
    margin-left: 10%;
    margin-top: 5%;
}

div.roundedCard {
    border-radius: 25px;
}

div.roundedCard-5 {
    border-radius: 5px;
}

div.question-r-card-4 {
    height: 4rem;
    font-size: x-large;
    text-align: center;
    margin: auto;
    border-radius: 5px;
}

div.question-r-card-6 {
    height: 6rem;
    font-size: x-large;
    text-align: left;
    margin: auto;
}

div.question-r-card-8 {
    height: 8rem;
    font-size: x-large;
    text-align: left;
    margin: auto;
}

div.description-r-card-h26 {
    height: 26.5rem;
}

/*End Dashboard Cards*/
/*Start rounded images*/
img.image-rounded-5 {
    border-radius: 5%;
    position: relative;
    margin: 1rem 2rem 2rem 2rem;
}
/*End rounded images*/
/*Start Test boxing*/
.boxTesting {
    border: 3px solid green;
}
/*End Test Boxing*/

/*^^^^^^^^^^^^^Media Queries^^^^^^^^^^^^^^^^^^^^^*/
@media only screen and (max-width: 420px) {
    .landing-section {
        margin-left: 1%;
    }

    div.db-card-container {
        padding-left: 0%;
    }

}
/*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/